html,
body {
  height: 100%
}

* {
  box-sizing: border-box;
}

#body-page {
  padding: 10px;

}


#login-content {
  width: 500px;
  margin: auto;
}



.form-inline .form-control {
  width: 600px;
}



#footer {
 /*background: #49afb1;*/
 text-align: center;
}



#map {
  height: 500px;
}

.list-items img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  margin-right: 30px;
}

.list-items h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.section {

  display: flex;
  padding: 20px;
  width: 60%;

}

.section img {
  margin-right: 30px;

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}