<!--<h2>The Attractions I have been to:</h2>
<!--<script src="/js/get-cities.js"></script>
-->
<!--
<div id="loadAttractions"></div>
<button id="testWriting" ></button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="./js/get-attractions.js"></script>-->