<!--<h1> Welcome <%= userid %> </h1>-->

<nav class="navbar">
  <i class="material-symbols-outlined" style="padding-left:20px;font-size: 2em; " >explore</i>
  <a class="logo" href="/">Discover</a>

  <div class="nav-links">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/history">History</a>
      </li>
      <li>
        <a href="/checkPosition" style="text-decoration: line-through;">Check Position</a>
      </li>
      <li>
        <a href="/map" style="text-decoration: line-through;">Map</a>
      </li>
      <li>
        <a href="/cities" style="text-decoration: line-through;">Cities</a>
      </li>
      <li>
        <a href="/my-attractions" style="text-decoration: line-through;">My Attractions</a>
      </li>
      <li>
        <a href="/city" style="text-decoration: line-through;">City</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <div class="menu-hamburger"><i class="material-symbols-outlined">menu</i></div>
</nav>

<script>
  const menuHamburger = document.querySelector(".menu-hamburger")
  const navLinks = document.querySelector(".nav-links")
  menuHamburger.addEventListener('click', () => {
    navLinks.classList.toggle('mobile-menu')
  })
</script>