<!DOCTYPE html>
<html lang="en">

<head>
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="css/tracker.css" />
  <link rel="stylesheet" href="css/button.css" />
  <link rel="stylesheet" href="css/overlay.css" />

  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /></head>

<body>
  
  <div id="body-page">
    <div id="header">
      <%- include('../partials/header') %>
    </div>
    <div id="content">
      <%- body %>
    </div>
    <div id="footer">
      <%- include('../partials/footer') %>
    </div>
   
  </div>
</body>

</html>