<div class="container">
    <div class="status">
        <button class="find-state">Find my location</button>
    </div>
  
    <div class="place-status">
        <button class="find-street">Next to Cite Universitaire?</button>
    </div>
    <script src="/js/location.js"></script>
</div>
