<div style="margin:20px">
    <div class="section">
        <div id="imageCity"></div>
        <!--  <img src="../resources/paris.jpg" alt="Paris" style="width:200px;height:auto;border-radius: 50%;">-->
        <div class="text">
            <h3 style=" font-size: 2em; font-weight: bold;" id="place"></h3>

            <div id="loadProgressbar" class="progress" style="width: 200px;height:5px"> </div>

            <p id="loadProgress"> </p>

            <a class="btn btn-dark btn-sm" id="buttonRoute">See Route</a>
        </div>
        <script>


            // Adapted from examples on the Querystring homepage.
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const place = urlParams.get('place')
            // console.log("PLACE IS " + place);
            document.getElementById('place').innerHTML = place;

            var a = document.getElementById('buttonRoute'); //or grab it by tagname etc
            a.href = "/map?city=" + place;

            var sectionContainer = document.getElementById("imageCity");
            var image = document.createElement("img");
            image.src = "../resources/" + place + ".jpg";
            image.setAttribute(
                'style',
                'width:200px;height:auto;border-radius: 50%;',
            );
            sectionContainer.appendChild(image);

        </script>
    </div>

    <div style="margin-left: 40px;">Attractions:</div>

    <div id="loadAttractions"> </div>

    <div style="width:400px">
        <canvas id="bubblechart"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="./js/get-attractions.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/chart.js"></script>

</div>