<div style="margin:20px">
    <div class="section">
        <img src="../resources/paris.jpg" alt="Paris" style="width:200px;height:auto;border-radius: 50%;">
        <div class="text">
            <h3 style=" font-size: 2em; font-weight: bold;" id="place"></h3>
            <div class="progress" style="width: 200px;height:5px">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <p>2/10</p>
            <!-- <button onclick="window.location.href='map?user=lilo&city=paris'" type="button" class="btn btn-dark">
                See Route</button>-->
            <a class="btn btn-dark btn-sm" id="buttonRoute">See Route</a>
        </div>
        <script>
            // Adapted from examples on the Querystring homepage.
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const place = urlParams.get('place')
            console.log("PLACE IS " + place);
            document.getElementById('place').innerHTML = place;

            var a = document.getElementById('buttonRoute'); //or grab it by tagname etc
            a.href = "/map?city=" + place;
        </script>
    </div>

    <div style="margin-left: 40px;">Attractions:</div>

    <div id="myData"> </div>
    <div style="width:300px">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="./js/get-attractions.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        ctx.width = 100;
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['1', '2', '3', '4', '5', '6'],
                datasets: [{
                    label: 'Elevation',
                    data: [12, 19, 30, 50, 20, 30], //Height Data
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
   /*     new Chart(ctx, {
                 type: 'bar',
       data: [12, 19, 3, 5, 2, 3],
       options: {
         scales: {
           y: {
             beginAtZero: true
           }
         }
       },
             });*/
    </script>
    <style>



    </style>
</div>