<div style="margin:20px">

    <div class="section">

        <div id="imageCity"></div>
        <!--  <img src="../resources/paris.jpg" alt="Paris" style="width:200px;height:auto;border-radius: 50%;">-->
        <div class="text">
            <h3 style=" font-size: 2em; font-weight: bold;" id="place"></h3>

            <div id="loadProgressbar" class="progress" style="width: 200px;height:5px"> </div>

            <p id="loadProgress"> </p>

            <a class="btn btn-dark btn-sm" id="buttonRoute">See Route</a>


            </h1>
        </div>
        <script>
            var currentuser = "<%= userid %>"
            // console.log(currentuser)

            // Adapted from examples on the Querystring homepage.
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const place = urlParams.get('place')
            // console.log("PLACE IS " + place);
            document.getElementById('place').innerHTML = place;

            var a = document.getElementById('buttonRoute'); //or grab it by tagname etc
            a.href = "/map?city=" + place;

            var sectionContainer = document.getElementById("imageCity");
            var image = document.createElement("img");
            image.src = "../resources/" + place + ".jpg";
            image.setAttribute(
                'style',
                'width:200px;height:auto;border-radius: 50%;',
            );
            sectionContainer.appendChild(image);

        </script>
    </div>

    <div style="margin-left: 40px;">Attractions:</div>

    <div id="loadAttractions"> </div>

    <br />
    <br />
    
    <!-- Button trigger modal -->
   <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addattraction"
        onclick="dialogAttraction()">
        Add
    </button>-->

    <!-- Modal -->
   <!-- <div class="modal fade" id="addattraction" tabindex="-1" role="dialog" aria-labelledby="addattractionLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addattractionLabel">Add Attraction to list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <form>
                      <div class="form-group">
                        <label class="col-form-label">Attraction name:</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group">
                        <label  class="col-form-label">Longitude:</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group">
                        <label  class="col-form-label">Latitude:</label>
                        <input type="text" class="form-control">
                      </div>
                    </form>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    <button id="confirmAddAttraction" type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>-->
    <div style="width:400px">
        <canvas id="bubblechart"></canvas>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="./js/get-attractions.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/chart.js"></script>

</div>

<a class="weatherwidget-io" href="https://forecast7.com/en/48d862d35/paris/" data-label_1="'CITY'" data-label_2="WEATHER"
    data-theme="marine">PARIS WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
