<!--First Item-->

<div class="section">


    <img src="../resources/paris.jpg" alt="Paris" style="width:100px;height:auto;border-radius: 50%;">

    <div class="text">
        <h3 id="place"></h3>
        <div class="progress" style="width: 200px;height:5px">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <p>2/10</p>
    </div>
    <script>
        // Adapted from examples on the Querystring homepage.
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const place = urlParams.get('place')

        console.log("PLACE IS" + place);
        //   let d = new Date();
        //  alert("Today's date is " + v1);
        //   console.log("PLACE IS");
        //  alert("Today's date is ");
        document.getElementById('place').innerHTML = place;
    </script>
</div>