<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./css/stlye.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/main.css">
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.min.js"></script>
</head>

<body>
  <div id="container">
    <div id="header">
     Header
    </div>
    <div id="content">
      Hello #1 <%= userid %>, you visited us <%= visit %> times or  <%= vis %> 
      <button type="button" class="btn btn-primary">Primary</button>
      
    </div>
    <div id="footer">
     Footer
    </div>
  </div>
</body>

</html>